In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({"Age":[12,np.nan,14,np.nan,16,12,13,14,12,13],
                    "Height":[130,np.nan,133,143,123,np.nan,np.nan,np.nan,120,121]})

In [3]:
df1

    Age  Height
0  12.0   130.0
1   NaN     NaN
2  14.0   133.0
3   NaN   143.0
4  16.0   123.0
5  12.0     NaN
6  13.0     NaN
7  14.0     NaN
8  12.0   120.0
9  13.0   121.0

In [13]:
df1["Age"].mean()

13.25

In [14]:
df1["Age"].median() #we need to decide whether tom+ take mean or median by looking at the lows and highs of the value

13.0

In [ ]:
df2 = pd.DataFrame({"Age":[12,np.nan,14,np.nan,16,12,13,14,12,13],"Height":[130,np.nan,133,143,123,np.nan,np.nan,np.nan,120,121],"Gender":["male","female",np.nan,"male","female","male",np.nan,np.nan]})

In [15]:
df1["Age"].fillna(12,inplace = True)

In [16]:
df1

    Age  Height
0  12.0   130.0
1  12.0     NaN
2  14.0   133.0
3  12.0   143.0
4  16.0   123.0
5  12.0     NaN
6  13.0     NaN
7  14.0     NaN
8  12.0   120.0
9  13.0   121.0

In [18]:
df1.Age.mode()[0]

12.0

In [22]:
df1["Age"].fillna(12)

0    12.0
1    12.0
2    14.0
3    12.0
4    16.0
5    12.0
6    13.0
7    14.0
8    12.0
9    13.0
Name: Age, dtype: float64